<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  class="ion-text-center">
      Personal Identity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container ion-text-center">
    <form>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" value="Yuda" readonly>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" value="Gedhe" readonly>
      </div>
      <div class="form-group">
        <label for="middleName">Middle Name</label>
        <input type="text" id="middleName" name="middleName" value="Darma" readonly>
      </div>
      <div class="form-group">
        <label for="birthdate">Birth Date</label>
        <input type="date" id="birthdate" name="birthdate" value="2023-02-04">
      </div>
      <div class="form-group">
        <label for="placeBirth">Place Birth</label>
        <input type="text" id="placeBirth" name="placeBirth" value="Blitar, East Java, Indonesia" readonly>
      </div>
      <div class="form-group">
        <label for="gender">Nationality</label>
        <input type="text" id="gender" name="gender" value="Male" readonly>
      </div>
      <div class="form-group">
        <label for="martialStatus">Martial Status</label>
        <input type="text" id="martialStatus" name="martialStatus" value="Single" readonly>
      </div>
      <div class="form-group">
        <label for="nationality">Nationality</label>
        <input type="text" id="nationality" name="nationality" value="Indonesia" readonly>
      </div>
      <div class="form-group">
        <label for="languageKnown">Languages Known</label>
        <input type="text" id="languageKnown" name="languageKnown" value="Java, Indonesia, Melayu, English" readonly>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" value="Jalan Raya Barek RT 01 RW 01 Nomor 17 Blitar, East Java, Indonesia" readonly>
      </div>
      <div class="form-group">
        <label for="email_address">Email Address</label>
        <input type="email" id="email_address" name="email_address" value="gedheyuda123@gmail.com" readonly>
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input type="number" id="phone_number" name="phone_number" value="089848582725" readonly>
      </div>
      <div class="form-group">
        <label for="educational_qualification">Educational Qualification</label>
        <input type="text" id="educational_qualification" name="educational_qualification" value="D1 Wearess Education Center, S. Kom Institut Asia Malang" readonly>
      </div>
      <div class="form-group">
        <label for="instituionName">Institution Name</label>
        <input type="text" id="instituionName" name="instituionName" value="Institut Asia Malang" readonly>
      </div>
      <div class="form-group">
        <label for="graduationYear">Graduation Year</label>
        <input type="number" id="graduationYear" name="graduationYear" value="2024" readonly>
      </div>
      <div class="form-group">
        <label for="major">Major</label>
        <input type="text" id="major" name="major" value="Computer Science" readonly>
      </div>
      <div class="form-group">
        <label for="gpa">Estimated GPA</label>
        <input type="number" id="gpa" name="gpa" value="3.84" readonly>
      </div>
      <div class="form-group">
        <label for="work_experience">Work Experience</label>
        <input type="text" id="work_experience" name="work_experience" value="Working as intern in news company as web developer that manage website, adding feature to website, and maintence the website" readonly>
      </div>
      <div class="form-group">
        <label for="technical_skill">Techical Skill</label>
        <input type="text" id="technical_skill" name="technical_skill" value="Python, Java, Machine Learning, Deep Learning" readonly>
      </div>
      <div class="form-group">
        <label for="soft_skill">Soft Skill</label>
        <input type="text" id="soft_skill" name="soft_skill" value="Time Management, Problem Solving" readonly>
      </div>
      <div class="form-group">
        <label for="certification">Certification</label>
        <input type="text" id="certification" name="certification" value="None" readonly>
      </div>
      <div class="form-group">
        <label for="achivement">Achivement</label>
        <input type="text" id="achivement" name="achivement" value="Become 1st winner in Asia Virtual Hackfest in 2021 competing against different college in Malaysia and Indonesia" readonly>
      </div>
      <div class="form-group">
        <label for="project">Project List</label>
        <input type="text" id="project" name="project" value="Creating website for BaliPasadena, creating mobile app using flutter" readonly>
      </div>
      <div class="form-group">
        <label for="volunteer_work">Volunteer Work</label>
        <input type="text" id="volunteer_work" name="volunteer_work" value="None" readonly>
      </div>
      <div class="form-group">
        <label for="sport">Sport Activities</label>
        <input type="text" id="sport" name="sport" value="None" readonly>
      </div>
      <div class="form-group">
        <label for="hobby">Hobbies and Interest</label>
        <input type="text" id="hobby" name="hobby" value="Fishing, Reading, and Playing RPG Game" readonly>
      </div>
      <div class="form-group">
        <label for="accomplishment">Any Special Accomplishments or Qualities</label>
        <input type="text" id="accomplishment" name="accomplishment" value="Able to student exchange in Philippines" readonly>
      </div>
    </form>
  </div>
</ion-content>
<!--
  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Item 22 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="item center container">
    <p>Republic of the Philippines</p>
    <p>City of Malolos</p>
    <p>Province of Bulacan</p>
    <h6>OFFICE OF THE BUILDING OFFICIAL</h6>
  </ion-text>
  <ion-text class="item center title">
    <h3>MECHANICAL PERMIT</h3>
  </ion-text>
  <ion-text class="left">
    <p>APPLICATION NO.</p>
    <p>
      <ion-item color="white" class="underline">
        <ion-input></ion-input>
      </ion-item>
    </p>
    <p><b>BOX 1 (TO BE ACCOMPLISHED IN PRINT BY THE OWNER/APPLICANT)</b></p>
  </ion-text>
  <ion-text class="right">
    <p>MECHANICAL PERMIT NO.</p>
    <p>
      <ion-item color="white">
        <ion-input></ion-input>
      </ion-item>
    </p>
  </ion-text>
</ion-content>
<ion-content>
  <ul class="nav">
    <li>Owner/Applicant</li>
    <li>Last Name</li>
    <li>First Name</li>
    <li>M.I.</li>
    <li>TIN</li>
  </ul>
</ion-content>

-->
