<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Item 22 </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <table>
    <caption>MECHANICAL PERMIT</caption>
    <tr>
      <td colspan="4" class="flex-container">
        <span class="span1">OWNER/APPLICANT</span>
        <span class="span1">LAST NAME</span>
        <span class="span1">FIRST NAME</span>
        <span class="span1">M.I.</span>
      </td>
      <td>TIN</td>
    </tr>
    <tr>
      <td colspan="4" class="flex-container">
        <span class="span1">FOR CONSTRUCTION OWNED BY AN ENTERPRISE</span>
        <span>FORM OF OWNERSHIP</span>
      </td>
      <td>USE OR CHARACTER OF OCCUPANCY</td>
    </tr>
    <tr>
      <td colspan="4" class="flex-container">
        <span class="span2">ADDRESS: </span>
        <span class="span2">NO.</span>
        <span class="span2">STREET.</span>
        <span class="span2">BARANGAY</span>
        <span class="span2">CITY/MUNICIPALITY</span>
        <span class="span2">ZIP CODE</span>
      </td>
      <td>TELEPHONE NO:</td>
    </tr>
    <tr>
      
    </tr>
  </table>
</ion-content>
