<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Item 22 </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-text-start">
    <ion-text>
      <p>NBC FORM NO. A-04</p>
    </ion-text>
  </div>
  <div class="ion-text-wrap ion-text-center">
    <ion-thumbnail><img src="assets/img/logo.png" alt="Logo"></ion-thumbnail>
    <ion-text>
      <p>Republic of the Philippines</p>
      <p>City of Malolos</p>
      <p>Province of Bulacan</p>
      <h6>OFFICE OF THE BUILDING OFFICIAL</h6>
    </ion-text>
    <br>
    <ion-text>
      <h3>MECHANICAL PERMIT</h3>
    </ion-text>
  </div>
    <ion-text class="ion-text-wrap">
      <div class="ion-float-left">
        <p>APPLICATION NO.</p>
        <p>
          <ion-item color="white">
            <ion-input></ion-input> M
          </ion-item>
        </p>
      </div>
      <div class="ion-float-right">
        <p>MECHANICAL PERMIT NO.</p>
        <p>
          <ion-item color="white">
            <ion-input></ion-input> M
          </ion-item>
        </p>
      </div>
    </ion-text>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input label="OWNER/APPLICANT" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="LAST NAME" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="FIRST NAME" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="M.I." labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="M.I." labelPlacement="stacked"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input label="FOR CONSTRUCTION OWNED BY AN ENTERPRISE" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="FORM OF OWNERSHIP" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="USE OR CHARACTER OF OCCUPANCY" labelPlacement="stacked"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input label="ADDRESS" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="NO. STREET." labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="TELEPHONE NO:" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="BARANGAY" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="CITY/MUNICIPALITY" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="ZIP CODE" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="TELEPHONE NO:" labelPlacement="stacked"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input label="ADDRESS" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="LOT NO." labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="BLK NO." labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="TCT NO." labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="STREET" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="TAX DEC NO." labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="BARANGAY" labelPlacement="stacked"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="CITY/MUNICIPALITY OF" labelPlacement="stacked"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <!--TODO: Input and Checkbox disable-->
        <ion-col>
          <ion-list lines="none">
            <ion-item>
              <ion-checkbox labelPlacement="end">NEW CONSTRUCTION</ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">ERECTION</ion-checkbox></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">ADDITION</ion-checkbox></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">ALTERATION</ion-checkbox></ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list lines="none">
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">RENOVATION</ion-checkbox></ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">CONVERSION</ion-checkbox></ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">REPAIR</ion-checkbox></ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">MOVING</ion-checkbox></ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list lines="none">
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">RAISING</ion-checkbox></ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">DEMOLITION</ion-checkbox></ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">ACCESSORY BUILDING/STRUCTURE</ion-checkbox></ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-checkbox labelPlacement="end">OTHER(Specify)</ion-checkbox></ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
